[2021-05-08 16:02] leonnicolas commented on #156
Would it be cool to have some step by step tutorials for some common use cases of Kilo? More detailed and more specific than the README. This could also involve some trouble shooting. Would this make Kilo more accessible? I'd be happy to write something.

[2021-05-09 01:27] khalid-davis commented on #156
It will be very good. And step 4 in readme also needs to be updated. A more detailed and more specific documents (for example using k3s or other) can make kilo more accessible.

[2021-05-09 06:23] jawabuu commented on #81
@anjmao Could you share your code?

@D1abloRUS Is your config functional with cilium even having used
`- --compatibility=flannel`?

[2021-05-10 03:19] khalid-davis commented on #156
Using kilo in cross-LAN communication, do we need to let different LANs to have different private IP network segments for wireguard?

[2021-05-10 04:58] jawabuu commented on #49
@unixfox This is a great solution to the issue and should probably be merged into kilo.
I have tested it in k3s.
Is it possible to make the namespace (desfault to kube-system) configurable?

[2021-05-10 07:36] unixfox commented on #49
As you can see in the YAML I don't specify any namespace because you can deploy it to whatever namespace you want.

[2021-05-10 07:57] jawabuu commented on #49
In your entrypoint script, I would like to understand the significance of the namespace declaration
https://bitbucket.org/unixfox/kilo-kubeconfig/src/d91d836fbf08f07a47f86f9f3458bf6410fdd62a/ENTRYPOINT.sh#lines-20,21,22,23,24,25,26,27

[code]

[2021-05-10 08:25] unixfox commented on #49
It's just the default namespace that the user will use when not providing any "namespace" in the `kubectl` command for example. Just deploy my yaml file into the `kube-system` namespace, and you will be fine (I just edited it to make it more obvious).

[2021-05-10 08:35] jawabuu commented on #49
@unixfox Thanks for the clarification.
My only concern was if it would still function if I deployed kilo in another namespace e.g. `kilo`

[2021-05-10 08:49] unixfox commented on #49
Well I'm not sure if that will work, I haven't tested though.
If that doesn't work get back to me and I'll see if I can do something about it.

[2021-05-12 06:38] ToothlessGear commented on #153
Yes, feedback would be appreciated if this is something worth pursuing in a PR.

[2021-05-12 12:16] #133 closed

[2021-05-13 18:32] leonnicolas opened #162 "Bump Client-Go and API Machinery Dependencies"

[2021-05-13 18:34] leonnicolas opened #163 "Add e2e Test using kind or similar"

[2021-05-13 18:39] leonnicolas opened #164 "Add allowed IPs to a location"
As a cluster admin, it should be possible to declare IPs that are reachable from a Kilo logical location so that nodes in other locations can access them.

An easy way to implement this, would be to add an annotation to any node in a location.
Long term, we may consider a location CRD that selects nodes and declares allowed IPs.

[2021-05-13 18:57] leonnicolas opened #165 "Add Documentation"
- [ ] NAT to NAT
- [ ] Contribution Guide
  - [ ] Building the website
  - [ ] Style guide
- [ ] Tutorials
- [ ] Update Installation Guide in README.md

[2021-05-13 21:34] iogrids opened #166 "The DaemonSet "kilo" is invalid"
I am getting below error when I run kilo on k3s

[code]

The DaemonSet "kilo" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app.kubernetes.io/name":"kilo", "app.kubernetes.io/part-of":"kilo"}, MatchExpressions:[]v1.LabelSelectorRequirement(nil)}: field is immutable

k3s version v1.20.6+k3s1 (8d043282)
go version go1.15.10

[2021-05-13 21:41] squat commented on #166
Hi @iogrids,

means that Kilo was already successfully deployed to your cluster, we changed the Kilo DaemonSet YAML upstream (which we did this afternoon), and you tried to re-apply. To fix this, you'll need to kubectl delete the DaemonSet and then recreate it :))

[2021-05-15 10:34] #162 closed

[2021-05-16 09:35] leonnicolas commented on #153
Setting the persistent keepalive only in some cases (node has no persistent keepalive annotation and has a private endpoint) has some disadvantages:
 - when endpoint is a DNS name, we would have to look that up all the time
 - might be confusing because it would (sometimes) change the meaning of the current PersistentKeepalive field in the CRD
 - the solution is not very flexible (no way to config

[2021-05-16 17:24] squat commented on #153
Yes, this sounds like a more understandable API that won't produce quite so many surprises. If we want to keep it flexible and not be so tightly bound to node names, which in real production clusters, come and go, we could use label matchers to select nodes

[2021-05-20 08:34] ToothlessGear commented on #153
Sounds good! I am fine with an addtional field in the CRD.

So to summarize the scenario with an example:
I have some number nodes in the same location/network behind NAT, all with private endpoints, and trying to add a ordinary peer which is publicly reachable. These nodes themselves are labeled with `networktype: behind-nat` for this example.

I would have to create such a CRD:
[code]

This resu

[2021-05-20 08:54] leonnicolas commented on #153
Should we make a second persistent keepalive field to avoid the keepalive for the public peer in the WireGurad config when you run `kgctl showconf peer <public peer>`?

[2021-05-20 17:58] leonnicolas commented on #163
Close with #171

[2021-05-20 17:58] #163 closed

[2021-05-21 10:35] squat commented on #166
Closing this issue now since it seems to be resolved :)

[2021-05-21 10:35] #166 closed

[2021-05-21 14:11] ssoriche opened #176 "Question: Adding another server node."
I've successfully set up a single node k3s server node with kilo, and now I want to add another node to the cluster (a server node for HA). I've been searching for a process to follow to do this, that doesn't involve rebuilding my cluster (though I couldn't find anything that suggested that as a solution either). Is there a process for adding nodes to an existing cluster with kilo installed?

Sorr

[2021-05-21 15:17] leonnicolas commented on #176
I am not sure if Kilo can run on a HA k3s cluster because it uses a kubeconfig that you have to copy to all nodes. It will use the IP or DNS name in that config to talk to the API server. So if the endpoint dies the Kilo pods won't be able to reach the API server anymore. Maybe you can achieve HA if the DNS name resolves to all API server's IP addresses?

Other than that Kilo doesn't really care i

[2021-05-21 17:04] squat commented on #176
Hi @ssoriche Kilo should work out of the box the same way that your kubectl is able to talk to a HA API. If kubectl is able to talk to a HA K3s API then Kilo should too. To get this to work though, you'll need to copy over the new kubeconfig (if the API endpoints changed) to all of the nodes into the correct place so that the Kilo pods can read it. If the HA API is using a DNS name, then this shou

[2021-05-23 07:57] drscat opened #178 "Multi-cluster Services not working latest version?"
Hi
Multi-cluster Services not working latest version?

I had to change in manifestos to
       - name: kilo
         image: squat/kilo: amd64-298a772d686740b8d93979c013ce876592e7a7cf

multi-cluster will no longer be supported in new releases?

Thanks :)

[2021-05-23 08:17] squat commented on #178
Uh oh, this sounds like it could be a regression. It is definitely not intended to remove support for multi-cluster services. Could you processes some friends about your setup so we can try to repro?

[2021-05-23 08:41] squat commented on #178
Also, would you be able to help us bisect the commit that breaks this functionality for you? Was 298a772d686740b8d93979c013ce876592e7a7cf the newest commit that does not have the bug (i.e. the next commit broke it)? Or was this commit chosen more as a random "older" commit?

[2021-05-23 08:41] squat commented on #178
Comparison of commits:
https://github.com/squat/kilo/compare/298a772d686740b8d93979c013ce876592e7a7cf...main

[2021-05-23 08:51] drscat commented on #178
wget https://raw.githubusercontent.com/squat/kilo/main/manifests/kilo-k3s.yaml

And modify to

[code]

wget https://raw.githubusercontent.com/squat/kilo/main/manifests/kilo-k3s.yaml

And modify to

[code]

[2021-05-23 08:54] drscat commented on #178
I just pointed out the old image from May 2 :)
squat/kilo:amd64-298a772d686740b8d93979c013ce876592e7a7cf

[2021-05-23 16:15] leonnicolas commented on #178
It could also be an issue if `kgctl` has a different version from `kg` running in the Kilo pods. Could you connect all nodes of cluster A as peers to cluster B and vice versa with the latest version of Kilo?

[2021-05-23 16:27] drscat commented on #178
local version
kgctl --version
kgctl version 0.2.0

current in pod
/opt/bin/kg --version
298a772d686740b8d93979c013ce876592e7a7cf
in 10 minutes I'll try the last one on a test

[2021-05-23 16:45] drscat commented on #178
wget https://raw.githubusercontent.com/squat/kilo/main/manifests/kilo-k3s-flannel.yaml

# modify to
<details>
  <summary>Click to expand!</summary>

[code]
</details>

# before apply

[code]

# after apply

[code]
:(

# In Pod
/opt/bin/kg --version
28d93fba90c9bba493be54fe42887c0eceb5e360

[2021-05-23 17:31] leonnicolas commented on #178
Thanks for the info :) Indeed, it's a bad sign that the WireGuard peer does not get set with the latest image. Can you share the Kilo logs from leader nodes? These should indicate why the peer isn't being set.

[2021-05-23 20:29] squat commented on #178
Also, what version of the Kubernetes API is your K3s cluster running?

[2021-05-26 12:08] squat commented on #178
ping @drscat :)

[2021-05-26 12:13] squat commented on #150
This seems like there must be either a bug somewhere or a documentation problem. Can you share more details about this point? They don't connect to the API? Or they do but later the pod network does not work? BTW, are you aiming for a full-mesh?

[2021-05-26 12:16] squat commented on #129
I haven't been able to replicate this :/ this seems like it may be an issue with the specific environment, perhaps a container runtime issue

[2021-05-26 12:48] squat commented on #128
@3rmack were you able to uncover the source of this issue? From what I can see, the iptables rules look totally fine. To begin testing, we could check:
1. can you ping the Kilo interface from another node? I.e. `ping 10.4.0.1` and `ping 10.4.0.2`
2. if this works, then we would want ping the coredns pod on node2 from node1 and tcpdump the kilo0 interface on node2; do we see and ICMP packets coming

[2021-05-26 19:55] drscat commented on #178
[code]
sorry )
work days
many tasks
A beautiful kilo project is 7 percent of the stack I serve, I can't reach the test ...
I'll attach it here as soon as I get there)

using v1.20.6 + k3s1

[2021-05-29 09:35] drscat commented on #178
Hi )
Logs - https://disk.yandex.ru/d/4SVqQgOqNTksCg

[2021-05-29 12:20] leonnicolas opened #181 "apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+"

[2021-05-31 13:46] tetricky commented on #150
I think it might be a consequence of k3s development. I've executed a tear down, and I'm building it back up. Now on a later version, using the same server platform, I've been able to cluster the nodes using v1.20.7+k3s1.

I'm going to try a three master node, embedded etcd, setup. I have the three master nodes connected and showing the correct INTERNAL-IP and EXTERNAL-IP. Because it's a multi-mas

[2021-06-01 21:00] brianthelion opened #182 "[QUESTION] Bootstrapping NATed nodes?"
Hi, and thanks for the great effort here!

I have a NATed node use-case that `kilo` might be perfect for, and am trying to evaluate a few things. In what follows, I will recap my understanding and then ask a few questions. If any of this is wrong, please correct me:

## Background on k8s and VPNs

When a new Kubernetes node is [bootstrapped](https://kubernetes.io/docs/reference/setup-tools/kubeadm

[2021-06-01 22:50] leonnicolas commented on #182
Hi @brianthelion

What do you mean with NATed node use-case? Do you have nodes behind one ore more NATs, are any of the nodes not behind NAT and where is your API Server running?

Honestly, I am not aware that the API server pushes anything to nodes. I think the kubelet on each node makes requests to the API server. The kubelet's requests to the API server are over TLS and have nothing to do with

[2021-06-01 23:22] brianthelion commented on #182
@squat Thanks for your reply. Super helpful!

Yes, my API server node has a public IP. All the other nodes are in private networks, behind firewalls, with no options for port-forwarding.

Very clever!

I will give this a try over the next few days and report back.

Thanks again!

[2021-06-06 15:05] brianthelion commented on #182
@squat @leonnicolas

I have `kilo` working *without* any NATed nodes using QEMU/KVM VMs on my local machine. The next step in my experiment will be to move one or more of these nodes into a separate virtual address space and restrict traffic ingress to that space, eg, to simulate NAT.

What will I need to change in my `kilo` setup to reflect the added NAT complication?

[2021-06-06 15:16] squat commented on #182
Hi @brianthelion you will have to set the `kilo.squat.ai/location` [0] annotation on the nodes that are moving to a new address space so that Kilo understands the topology of the cluster. This annotation is used to group nodes into logical locations where the nodes within a location can all communicate on a LAN without the need for WireGuard but need a WireGuard link to communicate with nodes in o

[2021-06-09 14:43] brianthelion commented on #182
@squat That appears to have worked. Is there an easy way to test pod-to-pod communication across `kilo`?

[2021-06-09 14:49] leonnicolas commented on #182
I have been using/writing this https://github.com/heptoprint/adjacency

[2021-06-14 11:58] leonnicolas commented on #181
Resolved with #186

[2021-06-14 11:58] #181 closed

[2021-06-14 14:14] squat commented on #176
We just chatted a bit more on the #kilo slack channel in the Kubernetes slack and @ssoriche confirmed that Kilo is working as expected. The source of the trouble was the the K3s cluster needed to be initiated with the `--cluster-init` flag to enable high availability. <3

[2021-06-14 14:14] #176 closed

[2021-06-15 07:09] stv0g opened #188 "[Question] Routing in partial meshed cluster?"
Hi, I was trying to understand if kilo can handle routing in a partially meshed network of nodes.

I have configured kilo with mesh granularity set to full.
However, what happens if Wireguard fails to establish connections between some of the nodes?
E.g. due to UDP blocking corporate firewalls?

Does kilo manage to route the traffic through other peers?

[2021-06-15 07:28] stv0g opened #189 "[Proposal] Use pion/ice for STUN/TURN NAT-traversal"
Hi @squat,

today I stumbled upon the [wiretrustee](https://github.com/wiretrustee/wiretrustee) project which enhances wireguard with some nice NAT-traversal techniques. Its largely based on the [pion/ice](https://pkg.go.dev/github.com/pion/ice) package to handle endpoint discovery via STUN and even UDP proxying via TURN servers. Its bascially the same stack which is used by their WebRTC implement

[2021-06-15 21:07] #164 closed

[2021-06-17 09:13] leonnicolas commented on #188
Kilo will not route traffic over other peers. Kilo cannot detect by itself if connections between nodes are blocked due to a firewall.

However, when you are not using a symmetric firewall or symmetric NAT, #146 makes it possible to establish a connection between nodes that are in different NATs or behind firewalls with UDP whole punching. For this to work, at least one node needs to have a routab

[2021-06-18 14:45] #91 closed

[2021-06-27 09:17] Ehco1996 opened #198 "The CustomResourceDefinition "peers.kilo.squat.ai" is invalid: spec.scope: Invalid value: "Namespaced": field is immutable"
i try update kilo to leatest version but i fond there is one crd yaml neen to apply from readme

[code]

but i stuck in first step

[code]

my k3s version is `v1.21.1+k3s1`

could anyone can help me ?

**BTW**, i think kilo need docker image with release tag, i can do some hlep work if you need

[2021-06-27 10:07] leonnicolas commented on #198
Hi @Ehco1996,
You first need to delete the old crd with
[code]
Hope that helps.

About the release tags, there is a 0.1.0 docker image, but 0.2.0 was never tagged. I think because the ci is not triggered by new releases. Is this what you were thinking about? Maybe this should be handled in a separate issue/pr?

[2021-06-27 11:56] Ehco1996 commented on #198
@leonnicolas  thanks for your help, and my k3s cluster was upgrade successful

i draft a PR #199  to add taged docker image in release github action
please advise if there is anything wrong
My K3s cluster upgrade was successful

[2021-06-27 13:45] squat commented on #198
Glad to hear the upgrade was successful :))) 🚀

[2021-06-29 10:11] squat commented on #182
closing this for now since everything seems to be working. @brianthelion please re-open if you have any more issues :))

[2021-06-29 10:11] #182 closed

[2021-06-29 10:13] squat commented on #156
closing this for now as the documentation updates that are needed are tracked in https://github.com/squat/kilo/issues/165

[2021-06-29 10:13] #156 closed

[2021-06-29 10:19] squat commented on #178
Hi @drscat sorry for the delay. I finally had the chance to review the logs. Unfortunately they don't show us everything because we need more verbose logs. Could you add `--log-level=debug` to the arguments of the Kilo Pod?
I suspect there was a change with the strictness of the validation of Peers that caused the updated Kilo Pods to reject the Peers you had applied to connect the two clusters.

[2021-06-29 13:00] #198 closed

[2021-06-29 17:13] drscat commented on #178
Hi @squat
OK! only on Saturday I can stop for testing)

[2021-06-29 17:20] squat commented on #178
Thank you very much! It's very helpful

[2021-07-08 07:17] abh1kg commented on #5
Was there any progress on this?

[2021-07-08 12:47] squat commented on #178
Hey @drscat we just just merged a PR that adds end-to-end tests that verify that multi-cluster services are working https://github.com/squat/kilo/pull/205. This gives us confidence that we won't regress and break this feature in the future. It also indicates that multi-cluster services are working today, which suggests that the root cause of the issue you are describing is likely due to your confi

[2021-07-09 09:43] Evlos opened #208 "How to change MTU after installation?"
Hi all,

I have installed kilo on my cluster, it's a great project and it runs smoothly.

Since I need to expand my cluster, and the MTU 1420 are too large for some server providers. Therefore I have to change it to 1280.

I tried to change MTU value inside kilo-k3s.yaml and re-apply the file, it seems not working.

[code]

Then I tried ```kubectl delete -f```, restart the server, make sure kilo0

[2021-07-09 09:53] Evlos commented on #208
I know I can manually change MTU by ```sudo ip link set kilo0 mtu 1280``` but it seems too casual.

[2021-07-09 10:23] squat commented on #208
Hi @Evlos, changing the CNI configuration will only ever change the MTU for the CNI devices, that means the veth pairs and bridge devices on the node. Right now, Kilo does not provide any way to modulate the MTU for the `kilo*` devices; this is a needed feature!

This will certainly be straightforward to implement: we need to add func to the `iproute` package https://github.com/squat/kilo/blob/mai

[2021-07-12 02:26] Evlos commented on #208
That sounds awesome!

[2021-07-13 12:59] stv0g commented on #188
Thanks @leonnicolas for the explanation. This confirms my own understanding after digging into the code.

I could be a nice idea to extend Kilo with some sort of dead-peer detection.
This would allow us to detect nodes which are located behind symmetrics firewalls/NATs.
In such a case #189 could be used as a fall-back.

[2021-07-13 12:59] #188 closed

[2021-07-13 13:01] stv0g commented on #165
I would add a paragraph describing how Kilo handles routing.

Especially the difference when used in standalone/CNI and addon mode.

[2021-07-13 20:16] stv0g opened #210 "Document required Roles and ClusterRoles for kg"
We are running Kilo in an Edge-cloud setup with K3S in which we don't fully trust the K3S agent nodes.
Therefore it would be good if we can provide a kubeconfig to the kg daemonset with reduced privileges.

I am looking for the exact Roles and ClusterRoles which are required for `kg` to function.

[2021-07-13 22:14] stv0g commented on #49
Here is an iteration of @unixfox approach which:
- gets rid of the dedicated Docker image
- works for any namespace which Kilo might use
- autodetects the API server URL as more recent K3S versions use a dynamic port number

[code]

Add the following initContainer to the Kilo daemonset:

[code]

And add the following volumes as well:
[code]

[2021-07-13 22:49] stv0g commented on #165
A quick note for the NAT-to-NAT documentation:

Endpoint discovery only works for nodes with a persistentKeepalive greater than 0.

[2021-07-14 08:24] squat commented on #210
Nice suggestion @stv0g. So you mean creating a document to formally record the RBAC that we have in the manifests, e.g. https://github.com/squat/kilo/blob/main/manifests/kilo-kubeadm.yaml#L40-L80?

These are the minimum set for correct operation. There's a mistake there actually, Kilo no longer requires update permissions on Peers (thanks to new NAT discovery).

If you want to further lock down ev

[2021-07-14 11:36] stv0g commented on #210
Hi @squat,

Oh thanks for the hint. I was not aware that the ServiceAccount in the manifest has already proper Roles assigned to it.

[2021-07-14 11:37] #210 closed

[2021-07-15 14:18] #49 closed

[2021-07-15 16:04] stv0g commented on #16
Maybe just setting a route for the service CIDR towards an in-cluster node/kube-proxy would be sufficient?

[2021-07-15 16:06] stv0g commented on #150
I think the insight @squat gave in this issue should be integrated in the documentation (see #165)

Other than that, I guess we can close the issue?

[2021-07-15 22:41] squat commented on #16
That's very true, this will be sufficient. We can absolutely point the entire service CIDR at a single location leader. In fact, this is the same advice our docs currently give for routing service IPs from VPN peers. It will produce suboptimal routes whenever the pods in a service are scheduled in more than one location, however this might be a reasonable first iteration.

[2021-07-16 10:27] squat commented on #165
I think we could also add a new guide/tutorial about balancing scheduling across different clouds/locations. This would help people see the value of multi-cloud and get started. We could use some of the concepts shown in this blog post: https://particule.io/blog/scaleway-kosmos/#d%C3%A9monstration-sch%C3%A9duling (french). This post describes getting started with Scaleway Kosmos, which is built on

[2021-07-16 12:23] #208 closed

[2021-07-16 14:43] SerialVelocity commented on #16
Yeah, that didn't work for me because when that node reboots/crashes/becomes unstable, you lose connectivity. kube-proxy is super easy to run though so it wasn't really an issue.

[2021-07-19 08:57] stv0g opened #216 "kgctl graph command requires user to provide mesh-granularity"
If I run `kgctl graph` get the following error message:

[code]

I have configured my kg DaemonSet to use a full mesh.
I was wondering, why do we need to specify the mesh granularity by hand.
Its not a nice UX.

[2021-07-19 09:04] leonnicolas commented on #216
This was solved in #197
Are you using a late enough version?

[2021-07-19 10:18] stv0g commented on #216
Oh thanks. Yes, I've been using the latest release.

[2021-07-19 10:18] #216 closed

[2021-07-19 10:26] leonnicolas opened #217 "[proposal] print warning if `kg` and `kgctl` have different version"
Maybe this will prevent Issues like #216.
This will probably require an additional annotation of the nodes. If we decide to implement this, maybe we should first move all annotations exclusively used by Kilo to a single json encoded annotation to prevent confusion with annotations that can be used to configure Kilo.
wdyt?

[2021-07-21 08:22] vladimir22 opened #218 "Kilo on RKE cluster: non-maser PODs CANNOT access to the kube-apiserver endpoint"
Hi @squat, I strongly believe in your project and hope you could help me with the final issue...

I have successfully installed kilo on my RKE cluster as a CNI:
- all PODs are working,
- service discovery is working,
- connection between RKE nodes are secured
- PODs in the `master-node` has access to kube-apiserver endpoint

*but* I caught another issue:
PODs in the **`non-master` nodes CANNOT acc

[2021-07-21 12:59] leonnicolas commented on #218
Maybe it is not related, but some things seem odd to me.
Your nodes have private IPs and you are using `mesh-granularity=local`, but still the nodes are WireGuard peers of each other. Can you share the labels of your nodes? Maybe you put them in different locations even though they are in the same private network? This is also suggested by the graph you shared.
I am not sure if it can work to have

[2021-07-21 18:34] squat commented on #218
Hmm the funny thing here is that your private IPs are being used as the public endpoints for WireGuard. This creates some tricky situations. The problem here (i think) is that the master node is dropping martian packets. Imagine the following situation:
* a Pod on node1 (source: 10.44.2.31) makes an HTTP request to the k8s API;
* this DNS name is resolved to 10.45.0.1, which in turn gets forwarded

[2021-07-21 18:54] squat commented on #218
Also, can you share the logs from the Kilo pod on master? Ideally with debug log level :))

[2021-07-22 10:07] vladimir22 commented on #218
Hy @squat, I appreciate your detailed response, yes you right, we are using:
- RKE Clusters in a VCloud env
- public and internal IP are the same
- we have no load-balancers outside the clusters (access by direct IP)

The idea was to cover all internal RKE nodes by VPN connections + add custom external peers.

The configuration above related to the next location settings:
[code]

In that case, I w

[2021-07-22 10:16] vladimir22 commented on #218
Let me share another bunch of data for other cases:

1. When I use all **nodes in a single location**, I am running into an issue:

**Service discovery is not working, I CANNOT access to any POD because `sudo wg` is not configured properly**

, details below:

[code]

`kgctl graph`
[code]

`kubectl get pods --all-namespaces -o wide`
[code]

`kubectl get service -n pf -o wide`
[code]

[code]

**fou

[2021-07-29 21:26] zplizzi opened #219 "Documentation on setting up a multi-cloud cluster?"
The docs clearly imply that one of the main uses of Kilo is setting up a multi-cloud cluster ("Kilo enables the operation of multi-cloud clusters"), but I can't anywhere find documentation of how to actually do that.

As an example, I have set up a cluster in EC2 using `kubeadm` with a single control plane node and a couple workers. Then I've started a GCP instance that I want to connect to the cl

[2021-07-29 21:35] zplizzi commented on #219
I know #165 is tracking requests for better documentation - just hoping maybe you can quickly point me in the right direction here :)

[2021-07-29 21:46] zplizzi commented on #219
Ah, I just found #11, I think that has the explanation I was looking for.

[2021-07-30 07:41] leonnicolas commented on #219
Added this to #165

[2021-07-30 17:57] zplizzi commented on #219
Didn't quite get this working, but the instructions in #11 definitely helped. It seems like kubeadm doesn't play super well with AWS EC2 nodes having different public vs private IPs.. had to do some [hacky stuff](https://github.com/kubernetes/kubeadm/issues/203#issuecomment-478206793) to get that to work (to join a node from a different region that wasn't networked to the main cluster with VPC pee

[2021-07-30 17:57] #219 closed

[2021-08-09 11:05] jawabuu opened #221 "Add ability to set wireguard IP via node label"
In cases where one needs prior knowledge of the nodes IP to for example;
1. Create host entries that resolve hostnames to kilo created wireguard IPs
A node label that can be set on cluster creation could be implemented to achieve this.
Suggesting to use a label as for most k8s distros, this can be set on node/cluster creation.
This label should indicate a `preferred` wireguard IP to be set by kilo

[2021-08-09 11:10] jawabuu commented on #221
This is mostly useful for clsters using kilo as CNI

[2021-08-09 11:15] squat commented on #221
Kilo uses annotations on the node objects to override and force values that would otherwise be autonomously determined. Let's align this proposal with that practice, e.g. `kilo.squat.ai/force-wireguard-ip`. I think we should likely use the `force-` prefix to align with the current practices within Kilo. More importantly, it allows kilo to understand the provenance of a value. Otherwise it will cau

[2021-08-12 17:46] squat commented on #81
Hi @anjmao do you have any update here? I know lots of people are interested in cilium compatibility and I would be happy to look at any WIP work and collaborate to get it merged :)

[2021-08-18 11:32] #23 closed

[2021-08-19 21:10] squat opened #227 "Peer CRD in 0.3.0 is Incorrectly Scoped"
The Peer CRD in the 0.3.0 tag of Kilo is namespace-scoped rather than cluster-scoped. This is a bug that we introduced during our migration to the new CRD API and needs to be corrected. This CRD will not behave correctly with Kilo's generated API client.

[2021-08-21 17:14] sbaildon opened #229 "Peer endpoints are set to 127.0.0.1"
Treading off the beaten bath a little here.

* Running a k3s cluster on hetzner
* Using their VPC
* Using their external cloud-controller https://github.com/hetznercloud/hcloud-cloud-controller-manager
* Flannel disabled, using kilo as the CNI

Everything mostly works, but I have to manually annotate nodes with `squat.kilo.ai/force-endpoint`, using the node's allocated VPC address from my `10.0.0.

[2021-08-22 08:20] squat commented on #229
Hi @sbaildon :) that doesn't sound too different from setups I've run on Hetzner myself!

The Kilo agent running on each node tries to discover the "best" IP address to advertise to the rest of the cluster by looking at the IP addresses that are assigned to any interface on the host and prioritizing public IP addresses. Cloud you log onto one of the nodes and share the output of `ip a`? Also, coul

[2021-08-22 09:55] sbaildon commented on #229
[code]

[code]

[code]

[code]

[2021-08-22 10:51] sbaildon commented on #229
I did some poking around with fresh eyes and found that https://github.com/squat/kilo/blob/e886f5d24ef8b0065d3f01289bad9153c3facc67/pkg/mesh/discoverips.go#L160

is including the loopback address in the public list

[code]

[code]

[2021-08-22 10:55] sbaildon commented on #229
What are your opinions on an annotation (or flag?) that prioritises private IP addresses?

If deploying a cluser to a cloud provider across regions with a shared VPC, I'd probably want my traffic to stay inside the VPC  to limit any bandwidth egress charges or slower links

[2021-08-22 11:14] squat commented on #229
Great work looking through the code and thanks for the info!

Yes absolutely, if you notice, the loops above your patch explicitly exclude local addresses by using the `isLocal` helper however the loop on https://github.com/squat/kilo/blob/main/pkg/mesh/discoverips.go#L66-L80 does not. This `isLocal`check would be good to here as well. Loopback address are excluded everywhere else in the code, whi

[2021-09-02 15:46] squat commented on #229
Let's close this since #230 fixes the issue :heart: thanks again for the fix!

[2021-09-02 15:46] #229 closed

[2021-09-02 15:50] squat opened #234 "Include Example WireGuard Exporter DaemonSet"
I think it could be useful for users to know how to monitor the Kilo mesh in their clusters. For this, we could leverage an existing project that implements a Prometheus exporter for WireGuard, e.g. https://github.com/MindFlavor/prometheus_wireguard_exporter.

I propose we write an example DaemonSet for this exporter along with a matching PodMonitor and include them in our manifests directory. We

[2021-09-04 17:45] squat commented on #227
Fixed by #225

[2021-09-04 17:45] #227 closed

[2021-09-13 18:47] kampsv commented on #53
was this ever resolved ?

[2021-09-15 09:15] aspekt112 commented on #5
Running Kilo on top of a GKE cluster is still not possible?

[2021-09-26 01:20] StevenPZChan opened #241 "Iptables FORWARD CHAIN POLICY"
Hi, @squat ! Thanks very much that this project helped me a lot with building a cluster among multi-clouds. I tried many CNI plugins and finally came to your solution based on WireGuard, since it perfectly solved the internal/public IPs contradiction.

I have encountered an issue that the PODs on some nodes cannot communicate with outside the nodes, while the WireGuard network communicates very we

[2021-09-30 12:39] #241 closed

[2021-10-03 18:41] sandah opened #246 "etcd traffic not going through the Kilo interface"
Hi,
I have a cluster (3 master nodes) with an embedded etcd that was set up with K3S and --no-flannel flag.
After installing Kilo with --mesh-granularity=full argument, it's working except the etcd peer communication traffic which is not going through the Kilo tunnel.

Is there a reason why?
What can I do to make it work?

[2021-10-08 17:59] alekc opened #247 "Single server control plane (kubeadm 1.22), no connectivity on fresh install."
I am setting up a cluster, and got an issue when using kilo as the only CNI

[code]

Installed kilo with
[code]

[code]

[code]

[code]
<details><summary>IPTABLES</summary>
<p>

[code]
<p>
</details>

My understanding is that at this point (especially since we are just 1 single node), it should still be working

However, this is what's happening:
[code]

If I remove the kilo and install flannel fo

[2021-10-08 22:03] colemickens commented on #189
This would be really amazing to see for cross-compatibility across wireguard clients. If the control servers have simple API surfaces and they exchange peer candidates similarly, it wouldn't be hard to imagine one client supporting more than just one control server.

[2021-10-09 20:54] stv0g commented on #189
Hi @squat,

I am working on WICE as part of my job as a researcher. Thats why there is a funding acknowledgement in the readme.

In the last days, progress on WICE has slowed down a bit because I've been struggeling a bit to properly the code.
There are tons of different cases which need to be tested (direct connections, relayed via STUN, relayed via STUN and TCP, mixed variants, and more..).
Ther

[2021-10-10 13:23] Sandah commented on #246
Hi
Thanks for the answer,
I didn't test it yet but I think I found a solution to achieve what I want with the help of this thread #120.

[2021-10-16 11:29] leonnicolas opened #249 "graph handler and kgctl graph render wrong topology"
Because the graph handler and `kgctl graph` don't resolve endpoints (eg. dns names from force-endpoint annotation) before building the topology, it is possible that the rendered graph differs from the actual topology.

[2021-10-18 19:15] leonnicolas commented on #247
Ubuntu uses the default policy DROP in the FORWARD chain of the filter table.
To test if this is the problem, can you ssh onto the node and run `iptables -t filter  -P FORWARD ACCEPT`?

If you are using the squat/kilo:latest you can specify `--iptables-forward-rules=true` as an arg to `kg`.
Note, that in case you have leader nodes (with FORWARS DROP policy) in locations with more then one node, yo

[2021-10-19 10:48] alekc commented on #247
I will reset the node (meanwhile I've proceeded with zerotrust) and see if that's the case. Sadly the #248 might prevent me to adopt the solution anyway, but at very least I will have (or not) the assurance that it works on single node setup.

[2021-10-25 13:10] theonlydoo opened #252 "kgctl list nodes/peers"
it appears that you have to know nodes/peers names to `showconf`, it'd be nice to have a `kubectl get nodes` style command.

[2021-11-01 18:06] leonnicolas commented on #252
Hey, @theonlydoo, sorry for the delay. I am still not sure what you propose exactly. Can you give an example output of the proposed commands?

Anyways, PRs welcome :)

[2021-11-01 18:53] #247 closed

[2021-11-02 20:11] leonnicolas commented on #247
Hey @alekc, feel free to reopen or make a PR about mentioning this in the Readme.

[2021-11-14 13:41] sbaildon opened #253 "Repeated attempts to reconcile mesh network"
I have an issue where when I connect an outside peer (eg. my laptop) to the cluster, `kilo` sees that configurations aren't the same and recreates the mesh to reconcile the differences. However, the config is never as expected and `kilo` will constantly attempt to reconcile, killing the network every ~30 seconds

I'm going to keep debugging, but I created this issue just in case you know what's up

[2021-11-14 13:52] leonnicolas commented on #253
i think it is because your laptop's endpoint is discovered since #146 and now Kilo wants to reapply the spec of your Laptop's peer that has a nil endpoint because the actual endpoint has been added and spec and reality have diverged. Let me check why I haven't noticed this with my laptop. Maybe this is wrong.

[2021-11-14 14:19] leonnicolas commented on #253
What is the Peer spec of your laptop. Did you set persitent-keep-alive to 0?

[2021-11-14 15:29] sbaildon commented on #253
Brilliant, that's exactly what's happening. I've added a `persistentKeepalive` and the network stays stable.

[2021-11-15 14:33] withinboredom opened #254 "Fails to properly initialize link if previously started with default link"
To reproduce:

1. apply CRDs and apply kilo deployment
2. delete kilo deployment
3. update deployment with `--interface=kilo1`
3. delete interface `kilo0` (`touch /etc/wireguard/kilo0.conf && wg-quick down kilo0` -- I'm not sure where the actual config lives)
4. reboot?
5. apply new deployment
6. see `kilo0` up and `kilo1` down.

[2021-11-15 21:47] leonnicolas commented on #254
Are you using kilo with the userspace WireGuard implementation? Or what manifest did you use to apply Kilo?

[2021-11-18 18:17] withinboredom commented on #254
Wireguard is running with kernel mode:

[code]

I applied the k3s manifests from the readme, though I was using the one with flannel support.

[2021-11-19 09:28] leonnicolas commented on #254
Do you have network connectivity aka "is Kilo working" after you changed the interface name? And can we see some logs. Only the beginning should be interesting?

And what does `sudo wg` give you on the node?

[2021-11-20 13:49] mazocode commented on #5
Can't we just re-add calico compatibility as it is in case the podCIDDR is the only issue? Calico IPools are great to have subnets per site and use different site specific or top of rack BGP peers.  The IP block assigned to a node is stored in a BlockAffinity CR. We are using a script to update the podCIDR from the generated blockaffinity after a new node joined so in our case this would always ma

[2021-11-21 23:52] withinboredom commented on #94
@squat with k8s [1.21 natively supporting dual-stack](https://kubernetes.io/docs/tasks/network/validate-dual-stack/) in beta, I was just curious how far along you got? It'd probably be some great publicity if you were one of only a few CNI providers to support this feature.

[2021-11-21 23:55] withinboredom commented on #254
I had to completely destroy the node as I would lose all network connectivity when enabling the interface, no matter what I did. It was clear I'd somehow foobar'd it up.

[2021-11-25 02:22] #85 closed

[2021-11-29 09:19] muvaf commented on #189
@stv0g I'm looking forward to use kilo in environments where I don't have the ability to have public IP. I do not have Wireguard-specific knowledge as much as you folks do but I've coding in Go for the last couple of years. So, I can contribute to help you out finish the design objectives if you can give me some pointers 🙂

[2021-11-29 12:35] stv0g commented on #189
Hi @muvaf,

Sure, I've got a bit stuck over the last weeks with other projects. But I plan to pick up the work pretty soon.
The main repo is [WICE](https://github.com/stv0g/wice). Its a user space daemon which runs in the background and monitors Wireguard interfaces. Public keys of the Wireguard interfaces are exchanged via a pluggable Backend alongside with ICE candidates to establish an ICE hand

[2021-12-04 15:22] muvaf commented on #189
@stv0g My high level goal is to be able to create a Kubernetes cluster that any node in the public network can join, something like tailscale with proper CNI. And `kilo` is almost there except the NAT part, so I'm interested specifically in that part, which would be, from my understanding, endpoint discovery. Could you create more specific task issues in your repo that I can tackle? It's hard to k

[2021-12-05 18:40] stv0g commented on #189
Hi @muvaf,

My current plan is to make WICE and Kilo interoperable. Meaning that Kilo will handle peer discovery and WICE will handle the endpoint discovery.

But adding Peer discovery also to WICE is a future goal. But its still far away. And I dont plan on replacing Kilo with WICE.

[2021-12-06 14:00] muvaf commented on #189
@stv0g Yes, that's exactly what I'm interested. So, any pointers that I can start with to start contributing to make that happen would be appreciated.

[2021-12-08 00:29] spigell opened #257 "Support VPN only functionality on DigitalOcean managed k8s"
Greetings! I use kilo only as a vpn server to inCluster resources, i.e. I have only one pod with kilo as deployment. On bare metal k3s cluster it works fine. But on DO managed k8s there are some troubles:
1) nodes doesn't have a wireguard module. Trying to use boringtun.
2) Even with boringtun interface do not in UP state and no config applied to it.

There is my deployment (also tried as DaemonSe

[2021-12-29 05:09] splitice commented on #5
This is a blocker for usage with LKE (linode) too.

[2022-01-04 08:15] aholler opened #259 "kilo fails if IPv6 is disabled via ipv6.disable=1 (kernel-cmdline)"
If IPv6 is disabled via ipv6.disable=1 in the kernel command line, kilo fails with

{"caller":"mesh.go:521","component":"kilo","error":"failed to add rule: failed to add iptables chain: running [/sbin/ip6tables -t nat -N KILO-NAT --wait]: exit status 3: ip6tables v1.8.4 (legacy): can't initialize ip6tables table `nat': Address family not supported by protocol\nPerhaps ip6tables or your kernel need

[2022-01-04 08:44] squat commented on #259
Hi @aholler, yes that is a very good catch. Indeed i can see why this occurs, as we try to start iptables controllers for both protocols to be ready for whatever may come. I think this should be quite straightforward to fix

[2022-01-04 12:17] #259 closed

[2022-01-05 12:53] MockyJoke opened #262 "Node marking other nodes as Non-Ready after some time (~60s)"
I have a kubeadm k8s cluster with 5 nodes. I am able to perform `kubectl log` on 4 out of 5 are working properly except one of them.
One that problematic node: `sudo wg` returns the follows:
[code]

Which is strange as on other nodes I'm able to see a list of peers. At the beginning I thought this might be due to the host itself, so I wiped the VM and reinstalled ubuntu 20.04 on it. However, the i

[2022-01-05 18:21] squat commented on #259
@aholler we finally unblocked CI
this issue should be happily resolved now :) If possible, could you try the latest Kilo tag squat/kilo:76047fe0affd60e4828db36fea6a540f9d7e0bb7 on your cluster and let us know if this fixed the problem you reported?

[2022-01-07 05:53] aholler commented on #259
@squat works:

{"caller":"iptables.go:278","component":"iptables","level":"info","msg":"IPv6 is disabled in the kernel; disabling the IPv6 iptables controller","ts":"2022-01-07T05:49:21.102871067Z"}

Thanks a lot!

[2022-01-07 11:02] DeamonLuck commented on #262
Found out the delay is caused by some incorrect DNS setting on the problematic host.
It's probably not related to kilo.

[2022-01-07 21:59] uGiFarukh opened #263 "Questions and discussion regarding a full mesh wireguard setup for k3s on cloud and on premise"
Hello,

I am recently trying to use wireguard along with k3s to create a multi-environment cluster setup for my projects. I came across kilo but finding it a bit difficult to setup. So, the basic network topology I am trying to achieve is as follows:

I have an AWS ec2 instance that is running as a k3s master server with mysql datastore. I have two on-premise networks with lots of VMs and IoT devi

[2022-01-15 06:27] DeamonLuck commented on #263
For Q2. I think it's possible.
The [documentation](https://kilo.squat.ai/docs/kg) for `kg` list a bunch of options that you can pass.
I believe `--port` is the one you want.

[2022-01-29 18:55] segator opened #267 "Disconnections every 30s"
2 Locations.
A with static public IP
B with dynamic public IP (NAT)

if I do ping from B to A using WG internal IP works but every 30s stops working, checking the logs of kilo appears that is refreshing the IP with the content of annotation kilo.squat.ai/endpoint that seems is wrongly discovered, discovering my internal IP instead of public IP. When seems connection works and check wg command on A

[2022-01-29 19:18] segator commented on #267
Ignore it, after setting keep-alive the discovered-endpoints seems is filled correctly and doing proper roaming!

What i notice is when using kgctl showconf peer xxxx is not  populating the IP's with those discovered  "discovered-endpoints"

it will be nice for outside of cluster peers to allow kgctl to set the endpoints with the discovered-endpoints aswell some kind of "daemon mode" so can pull u

[2022-01-29 19:33] segator commented on #267
Also when adding external peer the roaming to this peer is not updated to other nodes on the cluster.
Imagine the case in cluster
2 Locations.
A with static public IP
B with dynamic public IP (NAT)

and external peer in NAT (C)

In this case ideally we should be able to discover the External peer(C) IP from A and send the connection info to B, so B can connect to C

[2022-01-29 19:53] squat commented on #267
Ah that should really be the case. And if in fact it's not, then it should absolutely be a feature! kgctl *should* use the discovered-endpoints annotation of all of the nodes in the cluster to determine IPs for the NATed peers.

[2022-01-29 19:53] squat commented on #267
Ah that should really be the case. And if in fact it's not, then it should absolutely be a feature! kgctl *should* use the discovered-endpoints annotation of all of the nodes in the cluster to determine IPs for the NATed peers.

[2022-01-29 19:54] squat commented on #267
Ah that should really be the case. And if in fact it's not, then it should absolutely be a feature! kgctl *should* use the discovered-endpoints annotation of all of the nodes in the cluster to determine IPs for the NATed peers.

[2022-01-29 21:54] segator commented on #267
No its not rendering based on the discovery, also it will be nice if kg can run in external node only somehow, to track changes and update peers on the "edge"

[2022-01-30 01:29] squat commented on #267
Yes we've thought about this same feature before. In fact, there's an existing open issue to track this. Of course you can use kgctl and some shell scripts to accomplish this but it would be very convenient to have a daemon that does this for you automatically on, e.g., a laptop

[2022-01-30 09:36] segator commented on #267
that would be awesome!

[2022-01-30 18:22] segator opened #268 "no internet connection within pod on K3s --no-flannel"
Installed k3s on a clean environment disabling default flannel. then installing kilo-k3s.yaml.

between nodes i can ping nodes, wg is properly configured and have connectivity between all 3 nodes.

But seems there is no internet connection inside the pods deployed on workers

[code]

[2022-02-09 14:33] chfxr opened #271 "Graph and metrics port 1107 is publicly exposed by default"
Hello,
we are using a KILO enabled Kubernetes Cluster from a cloud provider.
Due some investigations from other users, we identified that the Port 1107 is publicly exposed and presents sensitive data under the following URLS:
Topology: http://<IP>:1107/graph
Metrics: http://<IP>:1107/metrics
Health:  http://<IP>:1107/health

These are useful features for debugging and internal monitoring, but thes

[2022-02-09 19:25] leonnicolas commented on #271
You can override the default with the `listen` flag.
Like `kg - - listen localhost:1107`.
If you want to query metrics from a remote host or different pod, you would need to have a proxy running in a sidecar. So using a different default value only makes sense if we add that to all the manifests.

[2022-02-09 19:31] squat commented on #271
An additional way to do this would be to continue listening on all interfaces but to require mTLS so all clients wanting to scrape have to present valid certs. In this case we'll need to add flags to allow that configuration for the Kilo HTTP server

[2022-02-09 19:36] chfxr commented on #271
Thank you for your comments.
When KILO get deployed vanilla, the ports are open in the public and under every public IP:1107 the whole topology and graph get exposed.

Would it be a possibility to turn this option off by default ?
I think there are a lot machines outside, which are exposing these sensitive information right now.

[2022-02-10 09:43] chfxr commented on #271
Someone of our Cloud provider explained me, that `kgctl` and `kgctl graph` will not work anymore, when the port is bound to localhost or closed from a firewall.
Can you explain me more about that behavior ?

[2022-02-10 10:08] squat commented on #271
hi @chfxr that comment from your cloud provider is not correct.

the HTTP endpoint at :1107 is only for informational purposed and has no effect on the functionality of kgctl and and the `kgctl graph` command. Specifically, the functionality of the `/graph` endpoint has no effect on the functionality of kgctl.

TL;DR: you can completely turn off the HTTP endpoint exposed by Kilo and not see any ef

[2022-02-11 00:10] brianthelion opened #272 "`kubectl logs` fails for pods on kilo nodes behind NAT"
No errors on pod deployment; pods report READY and are, indeed, running when inspected directly on the node. `wg kilo0` is up and working correctly.

The issue only seems to affect `kubectl logs` and `kubectl exec`.

Node and Master operating system are both Ubuntu 21.10. Kubernetes distro is `kubeadm` with `flannel`. Master has a public IP, Node does not due to being behind NAT.

[code]

Annotati

[2022-02-11 01:08] brianthelion commented on #272
One additional tidbit: I'm allocating and annotating the Node objects by hand _before_ the kubelet joins the control plane (as opposed to letting the control plane do it automatically at `join` time).

[2022-02-11 07:06] leonnicolas commented on #272
Can you ping pods on the nodes behind NAT from another location in the cluster? Aka is the pod network working?

[2022-02-11 15:11] brianthelion commented on #272
@leonnicolas To test, I set up your `adjacency` service on a NodePort as follows:

[code]

`curl ${PUBLIC_IP}:30163?format=json` times out. This is presumably due to the timeout on the pods themselves, so I checked the `adjacency` pod logs:

[code]

[2022-02-11 15:35] brianthelion commented on #272
Interestingly, pod-to-pod ping seems to work fine:

[code]

There's packet loss and a bit of jitter, but nothing catastrophic.

[2022-02-11 16:01] brianthelion commented on #272
And, indeed, if I log directly into the NATted node's console and use `docker exec` to get into the `adjacency-2bqx2` container, I can ping `adjacency-9cccf` at its `podIP`.

[2022-02-11 17:51] brianthelion commented on #272
Further consideration after slack discussion: The Master routing table does *not* contain an entry for `192.168.1.26`:

[code]

Adding a static route solves the problem:
[code]

[2022-02-11 20:41] brianthelion commented on #272
More observations:

1. Adding a third Node causes the routing table on Master to get flushed, thereby removing my manual entry and putting `kubectl logs {pod}` back into the `timeout` error mode on nodes that were previously available.
2. Adding a third Node also kills my `ssh` connection to the Master, presumably because `kilo` is doing something to the `iptables` rules.

[2022-02-12 00:20] squat commented on #272
It seems like the problem is that Kilo is discovering the wrong IP as the internal IP/interface on all of the nodes. Kilo is finding IPs like 172.31.22.109/20 but the private IP you wanted is 192.168.1.26, this is why kubectl logs is not working. Presumably, pod-to-pod networking using Host-Ports should also not work as a result (when cross location).

[2022-02-12 00:51] brianthelion commented on #272
@squat No, `172.31.22.109` is the (correct) private IP of the Master VM; it's public address is in the `54.x.y.z` range. As is typical with cloud services, the VM doesn't have any knowledge of its public IP.

[code]

[2022-02-12 08:45] squat commented on #272
Ok great, thanks for that 👍 can you please share the annotations on the problem node?

[2022-02-12 14:44] brianthelion commented on #272
@squat

[code]

[2022-02-12 15:28] raylas opened #273 "Configuration regeneration every 30 seconds"
I was wondering if someone could help with a configuration regeneration problem I’m seeing.

### Environment
- K3s, single-node
- Utilizing [crds.yaml](https://github.com/squat/kilo/blob/main/manifests/crds.yaml)
- Utilizing [kilo-k3s-flannel.yaml](https://github.com/squat/kilo/blob/main/manifests/kilo-k3s-flannel.yaml)
- No configured peers
  - **Note:** Overall issue persists when a remote (behi

[2022-02-16 03:09] brianthelion commented on #272
@squat @leonnicolas Any thoughts on this? It seems to be very reproducible for us by:

1. Master: `kubeadm reset --force`.
2. Master: `kubeadm init --config=`.
3. Master: Apply `flannel` and `kilo-flannel`.
4. Master: Apply `kilo` annotations.
5. Master: `kubeadm token create --print-join-command`.
6. Problem node: `kubeadm reset --force`.
7. Problem node: `kubeadm join` with the bootstrap token.

[2022-02-17 21:50] squat commented on #273
Hi @raylas can you please clarify what you mean here?

Note: Overall issue persists when a remote (behind NAT) peer (non-Kilo) is configured and connected, and leads to loss of connectivity every 30 seconds due to config regeneration

I'm confused because at first you write that no peers are configured, but later mention that the problem occurs when there are peers.
If there are peers, how are you

[2022-02-23 17:02] squat commented on #273
Hi @raylas ok so this sounds like it is possible entirely orthogonal to peers, since it happens when no peers are defined at all.

This is a single node cluster, which means it should be trivial. Indeed the change is that the Node's key does not match the key expected by Kilo.

@leonnicolas do you think this could be due to the recent switch to the WireGuard library? Either our code or WireGuard's

[2022-03-01 05:36] SerialVelocity commented on #273
Hi @squat, assuming this is similar to the issue I'm facing (I'm getting a lot of private key mismatches), then maybe I can give a bit more information. The thing I found which is strange is that when setting the key manually using `wg set kilo0 private-key tmp.key`, a couple of characters are different:
[code]

This matches the difference I am seeing in the logs:
[code]

This seems to happen on a

[2022-03-01 05:44] SerialVelocity commented on #273
I should also mention that I have another wireguard interface on every host where the private key was set correctly by NetworkManager

[2022-03-01 07:29] leonnicolas commented on #273
Yes, could be related to the switch to the wgctrl library. Can you pin the kilo version to a version from before https://github.com/squat/kilo/commit/6a696e03e71c59cf6380043f1e142141d86c5b0e. So we can be certain that it is related?

[2022-03-01 18:18] SerialVelocity commented on #273
So it looks like there are two issues here:
- The equality checks were wrong (will be fixed by #278)
- The private key cannot be set properly. It looks like maybe an invalid key is being generated? Are there any requirements for the key which kilo/wgctrl doesn't abide by when the key is created?

[2022-03-01 18:23] SerialVelocity commented on #273
Ok, figured out part 2. #279 will fix it.

[2022-03-01 20:11] squat commented on #273
Thanks everyone involved! After #278 and #279 this should now be fixed! Let's close this and reopen if we see any more configuration equality issues

[2022-03-01 20:11] #273 closed

[2022-03-01 20:13] squat commented on #267
Hi @segator we just closed issue #273, which seems like it was the same as this one. Can you please try the latest version of Kilo to see if indeed the problem you experienced is gone?

[2022-03-01 20:14] squat commented on #267
Btw https://github.com/squat/kilo/issues/267#issuecomment-1025043692 would be fixed by #269

[2022-03-09 06:56] SebastienDorgan opened #280 "Commercial support"
Hello, Is there a commercial support for Kilo?

[2022-03-10 15:35] brianthelion opened #281 "How to clear all `kilo`-related state?"
`kilo` performs updates to the node filesystem and networks. As a result, it may be necessary to execute manual teardown steps on the node to return it to a "pristine" state in the event of a `kubeadm reset` or `apt-get purge kubelet`, etc.

What are the steps that should be taken to flush all `kilo`-related state from a node?

[2022-03-10 15:52] squat commented on #281
hi @brianthelion, Kilo will reset almost everything during its cleanup phase. This means, it should remove:
* routes;
* WireGuard ethernet devices, i.e. the kiloX device;
* any encapsulation ethernet devices, i.e. the tun0 interface;
* iptables rules; and
* The Kilo annotations on Kubernetes resources.

The things that will _not_ be automatically cleaned are:
* the WireGuard private keys that Kilo

[2022-03-10 15:59] brianthelion commented on #281
@squat Thanks, this is super helpful.

My operating assumption is that a `kubeadm reset --force` will fail to trigger the cleanup phase, so I will manually need to deal with the routes and iptables rules.

As an aside, what are the conditions under which the cleanup phase is triggered? Is there a way to trigger it from the node console directly, eg, via `docker exec` on the `kilo` container?

[2022-03-18 15:26] squat commented on #281
Closing this for now, since it seems all of the needed information is in the issue. Please reopen if any information is missing!

[2022-03-18 15:26] #281 closed

[2022-03-18 15:30] squat commented on #280
@SebastienDorgan this does not exist today, however it is something that we have been exploring formalizing. Please reach out via slack if you'd like to discuss more.

Otherwise, I know that Scaleway (and perhaps other cloud providers) offers a hosted Multi-Cloud Kubernetes service built in Kilo, for which commercial support is available: https://www.scaleway.com/en/kubernetes-kosmos/

[2022-03-22 10:55] clive-jevons opened #282 "When is release 0.4.0 or 0.3.2 planned?"
Hi 😊

First off - thanks for this excellent project - it's been very useful and very stable for us ❤️

Was wondering for when the next release is planned? We'd like to pin our deployments to a more recent version 😬

Cheers,
C

[2022-03-22 12:23] leonnicolas commented on #282
I think we could release 0.4.0 soon (maybe merge/finish the open PRs). We added some features, so it won't be a 0.3.2.

If you don't want to wait, you can always pin to the latest digest, which would be `squat/kilo:a1af9790ea541c683d528d5a1d23075528d682d4`.

[2022-03-22 12:33] squat commented on #282
I'd like to get #269 merged for 0.4.0. hopefully we can ge that merged this week and then we can cut a new release 🎉

[2022-03-25 07:08] hhstu commented on #129
I get the same err. Can i get any help?

[code]

It is my yaml :
[code]

[2022-03-25 07:45] squat commented on #129
@hhstu this seems like the kilo0 device is not available / doesn't exist. Are there any logs from the boringtun container?

[2022-03-25 07:50] hhstu commented on #129
just .. @squat
[code]

[2022-03-25 07:57] squat commented on #129
Hmmm can you please show a list of the devices available in the Kilo Pod? `ip l`

[2022-03-25 07:59] hhstu commented on #129
@squat
[code]

[2022-03-25 08:05] squat commented on #129
Thanks @hhstu so there is indeed a kilo0 interface available. Some things that come to mind:

What differences are there between this node and the one that is working? Different OS? OS version? Hardware? One uses boringtun the other doesn't? Etc knowing the differences may help determine why this works on one machine but not the other

[2022-03-25 08:09] squat commented on #280
Closing for now. Will discuss more via other mediums.

[2022-03-25 08:09] #280 closed

[2022-03-25 08:11] hhstu commented on #129
This is a new cluster of kubedm. All pods of kilo are not work! I have never do it well @squat

It is my kubeadm-config
[code]

[2022-03-25 08:11] squat commented on #129
Also, @hhstu does this work if you pin Kilo to 0.3.1?

I wonder if this might be due to the switch to using a different WireGuard client library.

[2022-03-25 08:26] hhstu commented on #129
After change to 0.3.1

[code]

[2022-03-25 08:35] squat commented on #129
Thanks @hhstu those logs are a bit more helpful. `Unable to access interface: Protocol not supported` seems to be a pretty common symptom of WireGuard problems.

[2022-03-25 08:59] hhstu commented on #129
Thinks @squat I will continue to check the problem

[2022-03-25 12:32] leonnicolas commented on #234
this was merged with https://github.com/squat/kilo/pull/251

[2022-03-25 12:32] #234 closed

[2022-03-29 09:22] hhstu commented on #129
Can I add some use cases such as kubeadm-userspace.yaml,kubeadm-flannel-userspace.yaml ?

[2022-03-29 09:56] squat commented on #129
Hi @hhstu yes, I'd be very interested in taking a look at a PR for that 👍. I'm curious how/why it's different. Our E2E tests run on KinD, which uses kubeadm and we test both userspace

[2022-03-29 10:14] hhstu commented on #129
There is nothing different,juet my mistake i forget set the  wiregard volume of kilo container. I hoped add the use cases  kubeadm-userspace kubeadm-flannel-userspace for next person.

[2022-04-03 21:04] squat commented on #272
@brianthelion can you please share some details about what the topology looks like? which nodes are co-located? which ones are expected to communicate over vpn, etc. Also, could you please try running the latest Kilo commit? We recently merged some fixes that addressed problems cross-location communication in certain scenarios: squat/kilo:d95e590f5c24900d4688b67dc92ccd0298948006

[2022-04-04 14:33] unixfox commented on #94
Calico doesn't support ipv6 in wireguard though: https://github.com/projectcalico/calico/issues/4492

[2022-04-05 08:18] clive-jevons commented on #282
Wondering if there's an update? Maybe even something I could help with?

[2022-04-05 08:25] squat commented on #282
Almost done! Trying to get the last point here wrapped up so we can merge the PR and cut the release: https://github.com/squat/kilo/pull/269#pullrequestreview-929654128

[2022-04-06 05:40] hhstu opened #289 "Question: why ip of kilo not work ?"
Look at here,  i  have an ip  10.4.0.1 of kilo on node1, i  ping the ip  10.4.0.1  on the other node named lc1

ping is  ok, telnet is ok,but ssh and curl, i want curl and ssh ok

[code]

[2022-04-06 09:19] hhstu commented on #272
@squat  can you @ the commit abourt squat/kilo:d95e590f5c24900d4688b67dc92ccd0298948006,i can`t find it

[2022-04-06 09:29] squat commented on #272
Hi @hhstu this was the PR in question: https://github.com/squat/kilo/pull/285

Using the :latest image tag or some tag like :d95e590f5c24900d4688b67dc92ccd0298948006 [0] should contain this patch

0: https://hub.docker.com/layers/kilo/squat/kilo/d95e590f5c24900d4688b67dc92ccd0298948006/images/sha256-0738723b57968c2415a005f695cddaad44a88789dbd5a7ced6ba0459bb4fdcde?context=explore

[2022-04-07 03:07] hhstu commented on #289
fix with give a smaller mtu

[code]

[2022-04-07 03:07] #289 closed

[2022-04-07 08:27] unixfox commented on #94
By the way, I just discovered an alternative to kilo which support IPv6: https://www.talos.dev/v1.0/guides/kubespan/

It doesn't have all the feature sets that kilo has but it provides the basic idea of interconnecting servers from different cloud providers through a wireguard link.

[2022-04-07 13:48] squat commented on #254
Closing for now since we could not reproduce and the environment was torn down. Please re-open if you are able to reproduce and share more info.

[2022-04-07 13:48] #254 closed

[2022-04-07 13:50] squat commented on #252
ping @theonlydoo
This sounds like it should be a pretty simple feature. Could you share any more idea you had about the desired outputs you would find useful?

[2022-04-07 13:52] squat commented on #271
<3 out of curiosity, what is your cloud provider?

[2022-04-07 13:56] squat commented on #271
I'm implementing protection for these endpoints using the [kube-rbac-proxy project](https://github.com/brancz/kube-rbac-proxy). The plan is for all requests to Kilo's endpoints to require a token that has the right to `GET` peers and nodes, since the data revealed by these endpoints shows information about both resources. One small hiccup is that kube-rbac-proxy does not permit specifying multiple

[2022-04-07 13:58] squat commented on #268
hi @segator could you share some details about the topology of your cluster? From the look of this WireGuard configuration, it seems like you have three nodes in a full mesh. Is that right?

[2022-04-07 14:03] theonlydoo commented on #252
hey guys! sorry for the delayed response. I totally forgot about this issue. I can't seem to remember what was behind :thinking:

[2022-04-07 14:03] squat commented on #246
hi @Sandah any luck?
You should be able to accomplish this if you modify your etcd endpoints to use the internal IPs of the nodes. This will force the connections to be over the WireGuard link.
Any luck?

[2022-04-07 14:08] squat commented on #252
That was fast :)
No worries. We're trying to put together more ideas from the community to drive feature planning for the project so any input is welcome.

I'll close this for now. Naturally, please re-open if you have any more ideas:0

[2022-04-07 14:08] #252 closed

[2022-04-07 14:20] squat commented on #153
I've been thinking recently about this change and thought that it would be good to enhance the Peer CRD to version v1alpha2 and add new fields.

I'd like to go one step further and provide an escape hatch that can be used on the Peer CR to override any fields of any Peers, e.g.

[code]

The `selector` field of the nested `peer` object would allow selecting WireGuard peers based on Kilo location na

[2022-04-08 08:46] ToothlessGear commented on #153
Generally I quite like this approach!

But I am not quite sure, if I understand the `peer` selector correctly.
Does that mean one Peer CR could override a different one?

I think a peer must not modify anything, other than itself.

If multiple Peer CRs are overriding the same selector, it could lead to undefined behavior. Which one would "win"?
It also could circumvent certain RBAC rules that are

[2022-04-08 08:54] squat commented on #153
The idea is that one peer could override the configuration it generates for itself when wanting to communicate with another peer. E.g., i want to use a different persistent keepalive when i talk to that person. This helps make my peer CRD fully describe and encapsulate my configuration while letting everyone else's config remain unchanged/use automatically deducted values

[2022-04-08 10:27] ToothlessGear commented on #153
I misunderstood, thanks for the clarification.
Seems good!

[2022-04-08 13:16] squat commented on #282
It's officially out! :tada:

[2022-04-08 13:16] #282 closed

[2022-04-08 13:20] squat commented on #267
all of this is officially done now that #269 is merged :)) :tada:

[2022-04-08 13:20] #267 closed

[2022-04-08 15:05] clive-jevons commented on #282
AWESOME! Thank you!! 😍

[2022-04-11 12:12] clive-jevons opened #290 "Installation of a release should use that release's image tag"
I installed `v0.4.0` to one of our clusters, but noticed that the image being pulled was still `squat/kilo:latest`. Checking in https://github.com/squat/kilo/blob/0dfb7446302cdcb08cb991019885f28e313dd67c/manifests/kilo-kubeadm.yaml#L104 I saw that the manifest of the release only specifies `squat/kilo`.

Would it be possible to add tagged image versions corresponding to the release?

[2022-04-11 12:55] squat commented on #290
yes definitely :) I can get to it later today, otherwise, please feel free to make a PR to the release-0.4 branch!

[2022-04-11 13:31] clive-jevons commented on #290
I'll have a go at a PR 👍

[2022-04-11 14:07] #290 closed

[2022-04-11 15:18] squat commented on #290
hm I prefer not to re-tag once we've published to the wild. However, we can happily cut 0.4.1 with this fix :) so, we'll have to bump the manifests to be 0.4.1 and merge this to the release-0.4 branch and then we can tag a new release. WDYT?

[2022-04-11 16:19] clive-jevons commented on #290
Have prepared https://github.com/squat/kilo/pull/292 with the version bump to the referenced images 👍

[2022-04-14 15:09] segator commented on #268
Hi, sorry to late answer, what exactly you want to know?

2 nodes behind NAT  and 1 node with static public IP and ports opened.

[2022-04-14 15:50] squat commented on #268
Hi @segator I was curious what the Kilo mesh topology was. Are they in a full mesh? Or are they using --mesh -granularity=location and some have the same location annotation / topology label?

[2022-04-14 16:56] segator commented on #268
all of them have separate locations labels

[2022-04-14 16:58] squat commented on #268
Have you also set the persistent-keepalive annotation on the two nodes behind NAT?

[2022-04-14 17:29] segator commented on #268
25s of persistent keepalive, I have connection, the problem is the pods deployed does not have internet connection but if I try to ping from wg peer to peer works.

[2022-04-14 18:16] squat commented on #268
ah, sorry, :see_no_evil: I misread the issue

[2022-04-14 18:20] squat commented on #268
hmm can you please share the output of `iptables-save` from one of the hosts? this sounds suspiciously like a firewall issue, like for some reason IP packets are not being forwarded between some devices

[2022-04-15 12:17] segator commented on #268
this is from the k3s control plane server
all the servers are having the same internet connection issue.
this one is based on Hetzner and workers are libvirt servers
[code]

[2022-04-15 12:30] segator commented on #268
Regarding topology. Not sure why appear workers with an IPV6 endpoint (I replaced sensitive data)
Worker 1 and 2 are behind CGNAT, master have public static IP, master is discovering endpoints and sharing between workers
as seen in node labels

[code]

all nodes have this labels with different value as they are located in diferents "regions"
[code]

only master (node with static public IP) have th

[2022-04-15 14:47] squat commented on #268
Thanks @segator this is really helpful.

I'm a bit curious about the default DROP rule on the FORWARD chain. Would you mind trying something?
Can you add the `--iptables-forward-rules=true` flag to the Kilo daemonset and let me know if this changes anything?

[2022-04-15 19:23] segator commented on #268
Hi @squat, it seems to work only on libvirt machines, not hetzner machine (The iptables-save I shown you before is hetzner one)

[2022-04-15 21:02] squat commented on #268
Ha interesting! The plot thickens!

Can you describe how the nodes are different? Are the Herner node and the VMs running the same or different OS? are they configured similarly? Is there some other process managing the firewall on the Hetzner node? (Please do another iptables-save to confirm that the FORWARD chain now defaults to ALLOW)

[2022-04-16 09:03] segator commented on #268
First of all, Thanks for taking the time to help on my specific case @squat , I guess you have things better to do :)
All machines are
[code]
The machines are deployed via terraform so the configuration is completely identical between machines, except master I run k3s as control plane instead of worker.

Regarding firewall in hetzner, if I deploy k3s with flannel instead of kilo then we have inter

[2022-04-16 09:11] segator commented on #268
Umh The issue seems the IP of DNS server ```10.43.0.10``` hetzner VM can not connect, but other machines they can,
If I try inside a pod to replace ```/etc/resolv.conf``` ```10.43.0.10``` to the serviceIP of coreDNS ```10.43.26.33``` then it works, any idea?

[2022-04-17 12:11] segator commented on #268
Trying to force coreDNS serviceIP to 10.43.0.10 seems now I can resolve DNS but I still have rejected connections, DNS and Ping to any IP works but curl, wget.. etc not yet, domain is resolved but connection dropped

[2022-04-22 04:04] faraonc opened #304 "kilo pods high cpu usage"
We started seeing kilo pods having high CPU usage. This is degrading the network and causing our apps to have timeouts.
[code]

To workaround this issue, we would kill the pod whenever it happens. We tried upgrading the daemonset to use image `0.4.1`, but it did not resolve the issue. Is there already a built-in way to profile the CPU? Does anybody have a process to investigate the root cause?

[2022-04-22 06:31] squat commented on #304
Hi @faraonc that _is_ very high indeed and not normal for Kilo!
~The Kilo pods expose profile endpoints at~
I'm surprised to learn that I didn't yet add profiling endpoints to Kilo 🤔
It would be straightforward (and very helpful) to do so to add them to this httpmux: https://github.com/squat/kilo/blob/main/cmd/kg/main.go#L255

If you'd like to give it a shot, please open a PR :) Otherwise I'll do

[2022-04-22 06:43] squat commented on #268
Hi @segator im a bit confused. By convention, the DNS ServiceIP tends to automatically be 10.x.0.10 (10.43.0.10 in the case of K3s).
Are you saying that the cluster IP of the DNS service is something else and that /etc/resolve.conf doesn't match the real clusterIP?

That would explain why your node cannot resolve DNS. But in that case, none of the nodes should have been able to resolve DNS. Or was

[2022-04-22 06:51] squat commented on #304
When we've seen high CPU issues in the past, it's tended to be either due to constant reconciliation because some configuration doesn't match or Kilo and another process are fighting OR because the iptables controller is going crazy and spawning lots of iptables processes because some rules don't match what Kilo expects. We haven't seen the iptables issue in a year, so hopefully it's not that.

[2022-04-22 15:00] segator commented on #268
Seems the issue is when installing K3s disabling coreDNS and installing it with helm.

The funny part is this issue only ocurs when having Kilo, if I do the same but with flannel for exemple then there is no problem to install coreDNS as helm instead of K3s

[2022-04-22 16:26] squat commented on #268
Interesting 🤔 would you mind sharing the flannel daemonset yaml that does work?

[2022-04-22 16:27] squat commented on #268
So, to summarize, Kilo works if you use the stock coreDNS but not if you disable it and later install your own?

[2022-04-22 16:31] faraonc commented on #304
[code]

Thanks for pointing out where the change is needed. I might just build and test it on my deployments. I might do a PR next week if you have not done so.

[2022-04-22 16:39] squat commented on #304
Hi @faraonc i made the PR earlier today: https://github.com/squat/kilo/pull/305
Hope to merge today and you can test out. Otherwise You can built it yourself and test :)

Something funny is going in in that cluster for sure. The WireGuard configuration keeps changing really really fast. There are constantly new, unexpected changed to the number of peers. Are you connecting WireGuard peers to the c

[2022-04-22 17:01] squat commented on #304
@faraonc the PR just merged, so you should be able to use the `squat/kilo:0ddeea3d7840acc7d6c8f021310e9b39e7dad6f5` tag in a few minutes to test out the pprof endpoint. In any case it seems clear to me that the problem is that Kilo is constantly reconciling perceived changes to the WireGuard config. Something else seems to be touching it.

[2022-04-22 17:19] faraonc commented on #304
Thanks a lot. I will be deploying this on Monday, and check what is going on. I will share the outcome.

[2022-04-22 17:22] squat commented on #304
As i me tienes earlier, i strongly suspect that Kilo is getting confused with the WireGuard configuration. Any info you could share about the peers in the cluster / what other processes might be interacting with the cluster would be very helpful.

[2022-04-22 18:02] segator commented on #268
Correct

[2022-04-22 18:04] squat commented on #268
Ack please share the flannel config if you can 🎉

[2022-04-26 13:28] clive-jevons opened #308 "After updating new location can't "phone home" before external IP forced"
We have a multi-cloud setup with node pools communicating via kilo.
The "external" node pools (e.g. the ones not co-located with the control plane) are on GCP and don't know their external IP to begin with.

Previously, they were still able to make calls to the kube-api via kubectl event before knowing their external-ip - which allowed us to write a small controller run on the new nodes via a Daem

[2022-04-26 13:48] squat commented on #308
Hi @clive-jevons, so the custom controller is entirely unable to contact the API? Presumable for the controller to work before the endpoint is configured, it must be using a kubeconfig with a public endpoint for the API and _not_ the in-cluster kubeconfig, which uses the `kubernetes` service clusterIP, right?

[2022-04-26 13:51] clive-jevons commented on #308
Hi @squat <- actually it was working with using the in-cluster kubernetes service (which, as you implied, points at `10.96.0.1`). No custom kubeconfig involved.

We actually also verified that using such a kubeconfig going against a public IP (or rather DNS name) works. That would be a fallback workaround ... but preferably we'd like to get it working like it did before LOL 😂

[2022-04-26 13:55] squat commented on #308
The fact that the in-cluster API worked at all before the force-endpoint annotation was set implies to me that the force-endpoint annotation wasn't even needed in your setup: the Kilo location holding your control-plane was somehow aware of your GCP location and the pod network was already fully connected.

Because of this, I'm a bit confused by the extra controller was necessary. And what exactly

[2022-04-26 13:58] squat commented on #308
If you're available, please reach out on the Slack channel so we can chat more real-time :)

[2022-04-26 13:58] dajudge commented on #308
Maybe helpful in undestanding what's going on: what @clive-jevons and I observed when not setting the force-endpoint annotation was that communication from the control plane to the kubelet was not working (e.g. `kubectl logs` would time out until we force-endpointed the public IP of the GCP node via our controller).

[2022-04-26 14:00] clive-jevons commented on #308
Maybe a stupid question - but where can I find the Slack channel 😬  (checked the docs, but found no link ...)

What we had previously was that before setting the `force-endpoint` annotation the 'external' nodes were able to talk to the kube api, but the kube api was not able to talk to the external nodes - e.g. you couldn't do a `kubectl log` for pods running on the external nodes.

[2022-04-26 14:01] squat commented on #308
Please join the `#kilo` channel in the k8s Slack: https://slack.k8s.io/
(it's one of the badges at the top of the README.md)

[2022-04-27 04:25] squat commented on #304
Hi @faraonc, any update?

[2022-04-27 04:34] faraonc commented on #304
A little tight this week on the workload, but it is in our queue.

Sent from my iPhone

On Apr 26, 2022, at 21:25, Lucas Servén Marín ***@***.***> wrote:

﻿

Hi @faraonc<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ffaraonc&data=05%7C01%7C%7Ca817f01fcd1a4a02beec08da280601b4%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637866303509662056%7CUnknown%7CTWFpbGZsb3d8eyJW

[2022-04-27 05:15] squat commented on #304
Totally understand 👍
Let me know if you need help debugging. You can also find me in the #kilo channel in the k8s slack.

[2022-04-27 10:18] clive-jevons commented on #308
We were able to track down the problem, which ended up being a failure on our automated node setup. Discussion on Slack: https://kubernetes.slack.com/archives/C022EB4R7TK/p1650981806238329

It turned out that due to the failure in setup the `UDP:51820` ingress rule was not being applied in our AWS cluster, which resulted in the GCP nodes not being able to talk to it. After fixing this, everything

[2022-04-27 10:18] #308 closed

[2022-04-27 21:42] squat commented on #272
Hi @hhstu please try the latest Kilo release, 0.5.0 and let me know if you are able to make progress :) We have recently fixed several bugs and improved support for nodes behind NAT.

[2022-04-28 02:28] hhstu commented on #272
I use this project for  `kubectl logs`   https://github.com/hhstu/kube-node-dns   @squat

[2022-05-01 10:48] segator commented on #268
Hey! I think you can close the issue, I tought it was perfectly working with flannel but it's not.
I didn't discovered the problem yet but is an  issue between Hetzner + K3s.
When disabling k3s coredns stop working if installed coredns via helm independenly of the CNI installed, so in any way is related with kilo!!

Thanks!!

[2022-05-01 10:48] #268 closed

[2022-05-04 15:12] RouxAntoine commented on #81
If someone available and want to review this pull request https://github.com/squat/kilo/pull/312
I tried to implement what seemed to have @anjmao
thanks

[2022-05-05 12:47] idcmp opened #314 "Node behind NAT always NotReady"
## Setup
* one EC2 instance running Amazon Linux 2 with a public IP, Kubernetes 1.24 bootstrapped via `kubeadm init ...`
* one VM on my laptop, running Fedora 35, Kubernetes 1.24 bootstrapped `kubeadm join ...` (not as control plane)
* applied `manifests/kilo-kubeadm.yaml` from this repo
* Debugging turned on via `echo "module wireguard +p" >/sys/kernel/debug/dynamic_debug/control`
* keepalive set

[2022-05-05 13:08] squat commented on #314
hi @idcmp can you share the Kilo logs from the laptop VM? This is the most important piece of information here for why the node is unready.

[2022-05-05 14:03] squat commented on #314
Hi @idcmp, you mentioned that the Kilo pod on the laptop VM was crashlooping, but the logs you shared don't mention anything about a crash. Are there more logs that do include this?
If not, is there any other indication as to why the pod is crashlooping?

[2022-05-05 18:18] idcmp commented on #314
Caught one:

[code]

Here are the events from the pod:
[code]

[2022-05-05 18:58] idcmp commented on #314
Okay, I'm still experiencing wireguard dropouts, (as described in Situation), but both nodes think they're `Ready` now. I restarted the laptop VM so possibly there was some junk network configuration lingering previously. The `kilo` pod on the laptop VM still just gracefully cleans up and exits 4 minutes after the last event update it prints out.

[2022-05-05 20:04] squat commented on #314
Thanks @idcmp those logs are really helpful :)
It's quite funny that Kilo is getting terminated. It seems that Kubernetes is shutting it down for some reason. Did you by chance add liveness checks to the daemonset?

[2022-05-05 20:06] squat commented on #314
Ah, it sounds like maybe it's related to this:

[2022-05-05 20:09] squat commented on #314
I'll try testing on k8s v1.24 (and updating our ewe tests). So far our tests have been on v1.23. I wonder if this has caused an issue.

[2022-05-05 20:20] squat commented on #314
I wanted to add that this issue sounds to me like it is a bit more fundamental than WireGuard/Kilo/networking. It seems like something is breaking with the container runtime interrupting Kilo. Once we figure out why Kilo is being killed prematurely, we can investigate any networking issues. In other words, there is no reason why Kubernetes should kill the Kilo Pod just because the network (and thu

[2022-05-05 20:58] idcmp commented on #314
Nope. No changes from what was fetched.

The EC2 instance is running Linux 5.10.109-104.500.amzn2.x86_64 with containerd 1.4.13, the laptop VM (which as you've probably guessed runs Fedora), runs Linux 5.17.5-200.fc35.x86_64 and containerd 1.6.2 in VirtualBox (as spun up by Vagrant).

I really think the problem relates to the EC2 instance having an `Endpoint=` in its kilo0 config for the laptop VM

[2022-05-05 21:07] squat commented on #314
This could be part of the explanation why networking isn't working, however wouldn't explain why the Kilo Pod is getting killed and the node is unready.

[2022-05-05 21:27] idcmp commented on #314
Added --log-level=debug to the kilo daemonset, will post an update when it dies.

[2022-05-05 22:00] idcmp commented on #314
Ran `chronyc` first so both machines are within a second of each other:

Crashing kilo:

[code]

Non-crashing kilo:
[code]

[2022-05-12 21:15] idcmp commented on #314
@squat is there anything i can do to help?

[2022-05-25 01:01] sbaildon commented on #253
Defining a peer with a persistent keep alive of 0

[code]

Still sees kilo attempt to reconcile the mesh network; line 3, 30~ seconds after apply:

[code]

Is the intention of this code-path to prevent mesh reconciliation if `pka == nil || pka == 0`? Or am I misunderstanding?

https://github.com/squat/kilo/blob/4be792ea543a9c2656574ec060b335c587244a3d/pkg/mesh/topology.go#L291

FWIW, I'm not bothe

[2022-05-25 02:25] sbaildon commented on #253
Some mysterious behaviour I don't quite understand; I have a peer configuration called `phone` that is intended for my well, uh, phone, which didn't cause mesh reconciliation—I'm tailing kilo's logs. My phone is connected to the same WiFi network, there's no cellular involved here.

[code]

Taking a stab in the dark that something is up with the `laptop` peer, I created a third peer, `dummy`, and

[2022-05-25 02:43] sbaildon commented on #253
I moved the private key from `dummy` to `phone`, kept the rest the same; mesh reconciliation.

Reset `phone` back to the original keypair—no reconciliation.

[2022-07-19 14:26] aliuq opened #321 "Kilo exited unexpectedly: failed to initialize peer backend: CRD is not present: customresourcedefinitions.apiextensions.k8s.io "peers.kilo.squat.ai" not found"
kilo status is always `CrashLoopBackOff` and got belows error each one
[code]

![image](https://user-images.githubusercontent.com/11707934/179774934-9f43fd33-8a45-4fa5-830c-f7761f6a78e5.png)

[2022-07-19 14:29] squat commented on #321
Hi @aliuq
Have you installed the CRDs? i.e. `kubectl apply -f https://raw.githubusercontent.com/squat/kilo/main/manifests/crds.yaml`
This should be the first step in any Kilo [installation process](https://github.com/squat/kilo#step-5-install-kilo).

[2022-07-19 14:38] aliuq commented on #321
@squat thanks for your reply, I tried apply and it works now, I referenced [this tutorial](https://icloudnative.io/posts/use-wireguard-as-kubernetes-cni/#2-kilo-%E9%83%A8%E7%BD%B2)

[2022-07-19 14:38] #321 closed

[2022-07-24 14:42] leonnicolas commented on #321
fyi @yangchuansheng

[2022-07-26 15:52] Pseudow opened #325 "Installation help"
Hello, I am a bit **lost**, I have tried to follow the **documentation** but I got more **confused**. So I had to ask a few questions:
 - Does kilo required `wireguard` **already setup**? In this case should I add the annotation `force-endpoint` redirecting to the **port of** `wireguard`?

 - Will kilo modify my `NAT node address`? Because I think it will cause a problem if it is still its private

[2022-07-26 16:06] squat commented on #325
Hi @Pseudow,
To answer your questions:
1. Kilo automatically set WireGuard up. It will try to discovery the public and private IPs of your machine using various methods and heuristics. However, if Kilo cannot discover the correct endpoint for a host, then the `force-endpoint` annotation can be used to tell the Kilo agent on which port it should listen as well as what IP/DNS name other peers can fi

[2022-07-26 16:24] Pseudow commented on #325
Actually I installed **kilo**, but I found out that he was **taking the private ip address instead of the public** one so to fix that I just have to add **the annotation** and it will do everything? I won't have to **change anything else**?

[2022-07-26 16:25] Pseudow commented on #325
And by the way, should I add the wireguard port to the `force-endpoint` annotation ip address that kilo created?

[2022-07-26 21:53] #325 closed

[2022-07-26 21:58] Pseudow opened #326 "NAT Node not ready, cannot ping wireguard"
# Situation

My node **behind NAT** has some problems with a `kubeadm` and `kilo` setup. Firstly the `wireguard` ip attributed by **kilo** to my NAT node is not **pingable** from the master.

To make sure the ports `51820` and `10250` are **opened**.

# Logs

## Node description
Here is the **description** of the node I setup the `force endpoint` but looks like it doesn't really change anything:
[

[2022-07-27 09:35] Pseudow commented on #326
And by the way what is **recommanded between installing** `flannel` and `kilo-flannel` or **just** `kilo`?

[2022-07-30 14:11] #326 closed

[2022-08-19 13:07] aliuq opened #329 "The pod kilo-* in node was evicted when the memory is out"
Hi, I have two nodes, there is a lower node because of out of memory and got evicted

[code]

[2022-08-19 13:27] squat commented on #329
Hi @aliuq, our manifests don't have any resource requests or limits. This suggests to me that your cluster has some policy or mutating webhook that is automatically adding resource requests/limits to all containers, which is resulting in a request for 0Mib of memory, which is clearly exceeded.

To fix this, I would suggest adding resource requests to the Kilo manifests you are deploying to your cl

[2022-08-19 13:31] aliuq commented on #329
@squat thank you, I will try it

[2022-08-21 16:56] #329 closed

[2022-08-24 14:15] unixfox commented on #94
Calico just released their support for Wireguard on IPv6: https://github.com/projectcalico/calico/issues/4492#issuecomment-1224991393

[2022-08-28 21:44] ch9hn opened #330 "Connection to K8S Service - SourceIP is not preserved (Source NAT)"
Hello together,
we are using a managed K8S cluster with the following Kilo image:
`docker.io/squat/kilo:bcb722b0b90271a6643d6360e69e702d578d6a06`

What we have done so far:
Added a Kilo peer via the following manifest:

[code]

On the side of the VPN peer we have the following config, which was generated by kgctl:

[code]

Now to the issue:

When we are sending UDP packets to our pod, the client I

[2022-08-28 21:48] chfxr commented on #271
Its Scaleway
https://www.scaleway.com/en/kubernetes-kosmos/

They fixed the issue several months ago.

So issue can be closed.

[2022-08-28 21:48] #271 closed

[2022-09-13 21:34] freexploit commented on #5
I made subnet being able to use podCIDR querying calico blockaffinity resource. That made calico start and stop giving this non-ready node error. Now I'm trying to understand the calico compatibility layer you wrote to se if I can make it work.

[2022-09-20 07:43] squat commented on #330
Hi @chfxr I did some digging and found the cause of this SNAT. Kilo masquerades packets when they come from peers [0] and go to IPs that Kilo doesn't know about. In other words, Kilo does not masquerade packets that are destined for known IPs [1]. The main goal here is to ensure that packets that are leaving the cluster can find their way back to private IPs under control of Kilo, like the IPs of

[2022-09-20 07:59] chfxr commented on #330
Hello @squat,
thank you very much for your explanation.
The Service CIDR range of a cluster can be determined via the following script:

`SVCRANGE=$(echo '{"apiVersion":"v1","kind":"Service","metadata":{"name":"tst"},"spec":{"clusterIP":"1.1.1.1","ports":[{"port":443}]}}' | kubectl apply -f - 2>&1 | sed 's/.*valid IPs is //')
echo $SVCRANGE
`
Therefore the range is known then and can obtained and

[2022-09-20 08:06] squat commented on #330
Excellent I'll put something together.

[2022-09-20 08:40] denissabramovs opened #332 "istio support"
Any plans to implement istio on kilo?

[2022-09-28 20:26] arpagon opened #333 "Add Kilo in Cilium USER.md"
Hi @squat We love the work done to integrate kilo and cilium.

Cilium, because of the CNCF graduation, they ask me to add Kilo in  https://github.com/cilium/cilium/blob/master/USERS.md

If you wish, I can add it myself?

[code]

[2022-09-28 20:39] squat commented on #333
Thanks @arpagon!
Please go ahead :) i would suggest the following wording:

[code]

[2022-09-28 20:44] arpagon commented on #333
🙏

[2022-10-04 14:49] arpagon commented on #333
It's done, [Here](https://github.com/cilium/cilium/blob/b33adeb6f88701979d98095149d6ecb359dc8812/USERS.md?plain=1#L238)

[2022-10-04 14:49] #333 closed

[2022-10-20 07:06] rangdengdashi opened #335 "在k3s上运行失败"
hello，我在k3s上安装部署kilo，发现kilo的pod能够正常运行，其他的pod均不能正常运行，状态一直为ContainerCreating，查看pod log如下：
[code]
烦请支持，使用的K3s版本为1.22，kilo版本为0.5

[2022-10-20 10:29] squat commented on #335
Hmm, this seems like a Kubelet / node issue or possible a Kuberentes configuration issue. Is your cluster able to create _any_ pods at all or do they all fail?

[2022-10-20 10:46] rangdengdashi commented on #335
hello，我测试了无法创建任何pod，报错和上面贴的一样。kilo的pod能够正常运行应该是因为使用了hostnetwork模式，其他的依赖cni的都不行。

[2022-11-10 16:41] borys569 opened #337 "Peering clusters behind nat"
Hi,
I have the following use case:
- one main cluster is in AWS (with public IP); (cluster A);
- multiple small clusters on the edge devices behind NAT (cluster B).

Cluster A needs access to services in NATed clusters. I was hoping to use kilo to interconnect the clusters.
Is this document [https://kilo.squat.ai/docs/multi-cluster-services/] a correct approach considering that clusters are behind

[2022-11-22 04:21] outbackdingo opened #339 "Calico or Althea support"
Hi, previously this all worked well with flannel on k8s, however we have migrated to StarlingX and it uses Calico for networking, and another deployment actually in the lab uses Althea, is there any possibility this could be adapted to calico and althea ?

[2022-11-29 05:25] tidux commented on #339
Running on top of Calico would also give kilo EKS, AKS, and K0s support for free, which would substantially improve its usefulness.